extends ../layouts/default.pug

block main
  if (permissions.includes("dashboard-view"))
    h1.box-title Tổng quan

    //- Section 1
    .section-1
      .inner-item
        .inner-icon
          img(src="assets/images/section-1-icon-1.svg")
        .inner-content
          .inner-title Người dùng
          .inner-number #{overview.totalAdmin.toLocaleString("vi-VN")}
      .inner-item
        .inner-icon
          img(src="assets/images/section-1-icon-2.svg")
        .inner-content
          .inner-title Đơn hàng
          .inner-number #{overview.totalOrder.toLocaleString("vi-VN")}
      .inner-item
        .inner-icon
          img(src="assets/images/section-1-icon-3.svg")
        .inner-content
          .inner-title Doanh thu
          .inner-number #{overview.totalRevenue.toLocaleString("vi-VN")}đ
    //- End Section 1

    //- Section 2
    .section-2
      .inner-head
        h2.inner-title Biểu đồ doanh thu
        .inner-filter
          input(
            type="month"
            name=""
            filter-month
          )
      .inner-chart
        canvas(id="revenue-chart")
    //- End Section 2

    //- Section 3
    .section-3
      h2.inner-title Đơn hàng mới
      .table-1
        table
          thead
            tr
              th Mã
              th Thông tin khách
              th Danh sách tour
              th Thanh toán
              th Trạng thái
              th.inner-text-right Ngày đặt
          tbody
            each orderDetail in orderList
              tr
              td
                .inner-code #{orderDetail.code}
              td
                div Họ tên: #{orderDetail.fullName}
                div SĐT: #{orderDetail.phone}
                div Ghi chú: #{orderDetail.note}
              td
                each item in orderDetail.items
                  .inner-item
                    .inner-image
                      img(src=item.avatar, alt=item.name)
                    .inner-content
                      .inner-name #{item.name}
                      .inner-quantity Người lớn: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                      .inner-quantity Trẻ em: #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                      .inner-quantity Em bé: #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("vi-VN")}đ
              td
                div Tạm tính: #{orderDetail.subTotal.toLocaleString("vi-VN")}đ
                div Giảm: #{orderDetail.discount.toLocaleString("vi-VN")}đ
                //- div Mã giảm: TOURMUAHE2024
                div Thanh toán: #{orderDetail.total.toLocaleString("vi-VN")}đ
                div PTTT: #{orderDetail.paymentMethodName}
                div TTTT: #{orderDetail.paymentStatusName}
              td
                div(class=`badge.badge-${orderDetail.statusInfo.color}`) #{orderDetail.statusInfo.label}
              td(class="inner-center")
                div #{orderDetail.createdAtTime}
                div #{orderDetail.createdAtDate}
              td
    //- End Section 3